[Unit]
Description=Focus daemon
After=graphical-session.target
PartOf=graphical-session.target
StartLimitIntervalSec=60
StartLimitBurst=10

[Service]
Type=simple
ExecStart=@LIBEXECDIR@/focusd
WorkingDirectory=%h
Restart=on-failure
RestartSec=2
NoNewPrivileges=true

[Install]
WantedBy=graphical-session.target
